# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment
.env

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store


backend/example_pdfs/
backend/similarity_check_pdfs/
backend/temp/

